<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kevin James is terrible</title>
	</head>
	<body>

		<h1><%= @test + "This is a string" %></h1>
		<h2>Is this coming in?</h2>

	</body>
</html>
